# STAT 207 Homework 2 [25 points]

## Cleaning, Wrangling, and Reshaping Data

Due: Tuesday, February 4, end of day (11:59 pm CT)

Late Submissions accepted until Wednesday, February 5 at noon

<hr>

## Python Component

Run the following code chunk to import the pandas package needed for this assignment and the optional visualization packages:

- pandas
- matplotlib.pyplot
- seaborn

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## 1. Read in and Clean the Data [2.5 points]

Medium is a website where anyone can post an article, share a written story, or create a helpful tutorial to share.  Medium has publications, which are curated collections of articles focused on specific topics.  The data that we will analyze here is about articles collected from Medium publications focused on data science topics.  The original data is accessible here: https://www.kaggle.com/datasets/arnabchaki/medium-articles-dataset

The kaggle data has been slightly modified and is available in the medium.csv file located in this same folder, with primary updates to the date variable.

Read this file in.  Be sure that any missing values are read in appropriately, and show your process for doing so.

No need to drop any observations with missing values for this assignment.

In [3]:
df = pd.read_csv('medium.csv')

In [4]:
df

,id,url,title,subtitle,claps,responses,reading_time,publication,day,month,year
0,1,https://towardsdatascience.com/not-all-rainbow...,Not All Rainbows and Sunshine: The Darker Side...,Part 1: The Risks and Ethical Issues…,453,11,9,Towards Data Science,27,1,2023
1,2,https://towardsdatascience.com/ethics-in-ai-po...,Ethics in AI: Potential Root Causes for Biased...,An alternative approach to understanding bias ...,311,3,12,Towards Data Science,27,1,2023
2,3,https://towardsdatascience.com/python-tuple-th...,"Python Tuple, The Whole Truth and Only the Tru...",NaN,188,0,24,Towards Data Science,27,1,2023
3,4,https://towardsdatascience.com/dates-and-subqu...,Dates and Subqueries in SQL,Working with dates in SQL,15,1,4,Towards Data Science,27,1,2023
4,5,https://towardsdatascience.com/temporal-differ...,Temporal Differences with Python: First Sample...,NaN,10,0,13,Towards Data Science,27,1,2023
...,...,...,...,...,...,...,...,...,...,...,...
2493,2494,https://medium.com/swlh/brian-chesky-is-an-exa...,Brian Chesky is an Example of What it Means to...,NaN,370,2,7,The Startup,29,1,2023
2494,2495,https://medium.com/swlh/5-red-flags-of-online-...,5 Red Flags of Online Business Gurus,How to know which mentors you can’t trust onli...,250,6,8,The Startup,29,1,2023
2495,2496,https://writingcooperative.com/recognizing-the...,Recognizing These Three Realities Can Help Set...,NaN,410,10,4,The Writing Cooperative,29,1,2023
2496,2497,https://writingcooperative.com/i-remember-it-l...,“I Remember It Like It Was Just Yesterday…” Re...,The Role of Emotional Memory in Our Writing,461,7,7,The Writing Cooperative,29,1,2023
2497,2498,https://writingcooperative.com/how-to-formulat...,How to Formulate a Great Nonfiction Theme,There’s (almost) no such thing as too much tim...,158,2,5,The Writing Cooperative,29,1,2023

In [5]:
df.dtypes

id               int64
url             object
title           object
subtitle        object
claps           object
responses        int64
reading_time     int64
publication     object
day              int64
month            int64
year             int64
dtype: object

In [10]:
df.isna().sum()

id                0
url               0
title             0
subtitle        425
claps            25
responses         0
reading_time      0
publication       0
day               0
month             0
year              0
dtype: int64

In [12]:
df['claps'].unique()

array(['453', '311', '188', '15', '10', '27', '178', '3200', '426', '847',
       '477', '130', 'missing', '199', '121', '174', '117', '198', '88',
       '210', '372', '104', '132', '80', '2600', '695', '658', '1200',
       '301', '293', '341', '168', '101', '67', '135', '127', '623',
       '475', '65', '11', '22', '57', '260', '275', '509', 'scrape fail',
       '48', '163', '151', '18', '2', '40', '58', '3', '139', '7', '51',
       '411', '743', '381', '262', '145', '85', '140', '1600', '3400',
       '388', '302', '232', '1000', '758', 'error', '32', '110', '560',
       '255', '263', '81', '1700', '968', '92', '396', '52', '185', '241',
       '350', '95', '64', '4', '19', '5', '37', '1100', '892', '87',
       '323', '783', '625', '152', '134', '131', '965', '71', '137', '13',
       '147', '1400', '362', '583', '24', '144', '384', '505', '291',
       '196', '181', '62', '29', '78', '215', '31', '192', '46', '406',
       '493', '448', '487', '39', '100', '1500', '910', '335', '738',
       '365', '82', '392', '162', '77', '102', '209', '115', '35', '41',
       '527', '606', '989', '125', '576', '423', '180', '744', '648',
       '512', '329', '195', '218', '6', '75', '56', '30', '76', '124',
       '183', '109', '118', '14', '978', '12', '26', '107', '228', '279',
       '316', '128', '591', '837', '927', '205', '3900', '391', '277',
       '158', '129', '254', '171', '120', '55', '68', '461', '94', '3600',
       '441', '165', '3000', '251', '213', '242', '69', '36', '50', '53',
       '108', '246', '146', '351', '250', '208', '86', '2000', '479', '1',
       '618', '44', '84', '66', '63', '72', '141', '538', '79', '290',
       '762', '91', '270', '224', '155', '874', '126', '230', '4990',
       '4700', '253', '523', '412', '280', '173', '547', '274', '17',
       '635', '6800', '2400', '235', '434', '89', '225', '402', '386',
       '98', '201', '2500', '598', '313', '444', '111', '60', '113', '73',
       '796', '481', '2700', '462', '425', '25', '456', '359', '142',
       '38', '112', '143', '534', '465', '376', '1900', '900', '203',
       '286', '186', '400', '2100', '2300', '345', '7100', '172', '237',
       '619', '356', '430', '258', '214', '308', '360', '122', '167',
       '61', '21', '16', '34', '20', '28', '49', '582', '795', '802',
       '665', '327', '45', '1800', '169', '371', '348', '2800', '116',
       '191', '157', '8', '245', '164', '43', '54', '330', '338', '880',
       '415', '202', '596', '373', '410', '96', '855', '655', '567',
       '150', '2900', '408', '194', '300', '106', '212', '70', '737',
       '337', '500', '2200', '3500', '390', '399', '261', '74', '473',
       '170', '676', '517', '460', '184', '0', '256', '1300', '380',
       '119', '161', '663', '682', '23', '177', '267', '684', '674',
       '314', '450', '333', '950', '271', '638', '5400', '612', '784',
       '662', '187', '103', '366', '631', '503', '661', '197', '490',
       '283', '349', '33', '355', '843', '915', '257', '219', '575',
       '354', '347', '528', '945', '114', '287', '451', '416', '342',
       '268', '99', '310', '160', '937', '846', '677', '785', '331',
       '842', '418', '463', '856', '435', '498', '608', '211', '234',
       '278', '9', '233', '5000', '4100', '318', '154', '83', '675',
       '276', '6300', '468', '405', '189', '123', '955', '516', '894',
       '294', '227', '507', '285', '47', '328', '393', '422', '766',
       '717', '364', '182', '259', '149', '641', '307', '312', '156',
       '179', '786', '176', '750', '247', '629', '670', '190', '59', '90',
       '437', '385', '455', '236', '281', '339', '545', '746', '581',
       '324', '272', '93', '216', '105', '159', '525', '729', '401',
       '304', '153', '565', '11100', '332', '470', '288', '577', '469',
       '383', '454', '231', '755', '712', '97', '827', '5100', '133',
       '821', '594', '175', '4500', '634', '914', '585', '305', '863',
       '551', '299', '471', '221', '446', '546', '544', '701', '343',
       '616', '761', '728', '529', '700', '357', '960', '589', '636',
       '238', '763', '252', '969', '548', '352', '370', '605', '536',
       '710', '334', '556', '584', '597', '775', '506', '269', '857',
       '474', '792', '398', '204', '432', '42', '292', '961', '820',
       '642', '504', '531', '166', '317', '660', '240', '486', '387',
       '530', '626', '607', '319', '861', '336', nan, '467', '489', '871',
       '692', '382', '484', '248', '403', '148', '223', '207', '835',
       '217', '424', '282', '413', '264', '457', '572', '289', '823',
       '851', '363', '244', '890', '748', '3800', '367', '779', '990',
       '298', '374', '321', '690', '1970', '917', '771', '309', '1920',
       '759', '206', '685', '315', '1940'], dtype=object)

## 2. Understanding the Medium Data [0 points]

You can use this space to analyze the dataset.  All points for Question 2 will come from Gradescope.

In [5]:
# count publication value
publication_counts = df['publication'].value_counts()

# max publication
most_articles_publication = publication_counts.idxmax()
most_articles_count = publication_counts.max()

print(f"The publication with the most articles is: {most_articles_publication} ({most_articles_count} articles)")

The publication with the most articles is: Towards Data Science (1228 articles)

In [7]:
total_articles = len(df)

tds_articles_count = (df['publication'] == "Towards Data Science").sum()

proportion_tds = tds_articles_count / total_articles

print(proportion_tds)

0.49159327461969576

In [9]:
# responses minimum value
min_responses = df['responses'].min()
print(min_responses)

0

In [11]:
# responses maximum value
max_responses = df['responses'].max()
print(max_responses)

207

## 3. Understanding Missing Data [1 points]

Let's consider the claps variable in particular.  Filter the data to a smaller copy of the data that only contains those observations that are missing a value for the claps variable.  Be sure to give this subset a name other than the original data frame name. 

*Hint*: the `.isna()` function can be used in the place of a logical statement.

You can use this space to analyze the dataset that you created at the beginning part of this question.

In [67]:
# new dataframe
missing_claps_df = df[df['claps'].isna()]

# result 
missing_claps_df

,id,url,title,subtitle,claps,responses,reading_time,publication,day,month,year
1781,1782,https://writingcooperative.com/a-hack-for-crea...,A Hack for Creating Dramatic Effect With Dialo...,NaN,NaN,0,5,The Writing Cooperative,1,3,2023
1815,1816,https://writingcooperative.com/four-beginner-p...,Four Beginner Proofreading Mistakes to Avoid,What you can’t rely on…,NaN,0,4,The Writing Cooperative,18,1,2023
1841,1842,https://writingcooperative.com/why-you-should-...,Why You Should Work on a Million Drafts at Once,Adopt a promiscuous writing…,NaN,0,5,The Writing Cooperative,10,3,2023
1869,1870,https://writingcooperative.com/punctuation-for...,"Punctuation for Creative Writers, Part 2","Hey, pay attention! On stops…",NaN,0,9,The Writing Cooperative,22,3,2023
1872,1873,https://towardsdatascience.com/introduction-to...,Introduction to Embedding-Based Recommender Sy...,Learn to build a simple matrix factorization r...,NaN,0,13,Towards Data Science,25,1,2023
1901,1902,https://writingcooperative.com/words-i-use-oth...,Words I Use Other Than “Said”,My dialogue tag confession,NaN,0,4,The Writing Cooperative,25,1,2023
1967,1968,https://writingcooperative.com/timeline-for-se...,Timeline for Self-Publishing a Short Story Col...,NaN,NaN,0,5,The Writing Cooperative,11,1,2023
1973,1974,https://towardsdatascience.com/understanding-c...,Understanding Causal Trees,"<em class=""markup--em markup--h4-em"">How to us...",NaN,0,15,Towards Data Science,3,2,2023
1977,1978,https://towardsdatascience.com/fine-tuning-sen...,Fine-Tuning Sentence Transformers with MNR Loss,NaN,NaN,0,8,Towards Data Science,3,2,2023
2001,2002,https://towardsdatascience.com/statistics-boot...,Statistics Bootcamp 8: A Tale of Two Means,Learn the math and…,NaN,0,13,Towards Data Science,4,1,2023
2013,2014,https://towardsdatascience.com/january-edition...,January Edition: Becoming Better Learners,Start your 2023 data science…,NaN,0,4,Towards Data Science,4,1,2023
2030,2031,https://writingcooperative.com/self-publishing...,Self-Publishing: Three Things You Can’t Do By ...,NaN,NaN,0,4,The Writing Cooperative,4,1,2023
2053,2054,https://towardsdatascience.com/from-causal-tre...,From Causal Trees to Forests,"<em class=""markup--em markup--h4-em"">How to us...",NaN,0,13,Towards Data Science,20,2,2023
2076,2077,https://writingcooperative.com/the-secret-reas...,The Secret Reason Why Writers Will Fail At Mar...,NaN,NaN,0,8,The Writing Cooperative,20,2,2023
2094,2095,https://towardsdatascience.com/faster-time-ser...,"<span class=""markup--anchor markup--h3-anchor""...",Train many models faster using…,NaN,0,11,Towards Data Science,24,1,2023
2120,2121,https://writingcooperative.com/the-curse-of-or...,The Curse of Originality,You don’t need to be creative. You just need…,NaN,0,2,The Writing Cooperative,24,1,2023
2121,2122,https://towardsdatascience.com/a-simple-approa...,A Simple Approach to Hierarchical Time Series ...,NaN,NaN,0,8,Towards Data Science,14,3,2023
2175,2176,https://writingcooperative.com/organizing-your...,Organizing Your Novel’s Ideas Early Will Save ...,NaN,NaN,0,6,The Writing Cooperative,16,2,2023
2210,2211,https://writingcooperative.com/what-i-learned-...,What I Learned About Writing Dedication from T...,NaN,NaN,0,5,The Writing Cooperative,1,2,2023
2235,2236,https://towardsdatascience.com/february-editio...,February Edition: Let’s Talk About the Chatbot,"(Yes, you know the one)",NaN,0,3,Towards Data Science,2,2,2023
2287,2288,https://towardsdatascience.com/sentence-transf...,Sentence Transformers: Meanings in Disguise,How modern language…,NaN,0,12,Towards Data Science,3,1,2023
2398,2399,https://writingcooperative.com/four-lessons-le...,Four Lessons Learned From a Decade and a Half ...,NaN,NaN,0,6,The Writing Cooperative,22,2,2023
2446,2447,https://towardsdatascience.com/umap-variance-e...,UMAP Variance Explained,NaN,NaN,0,19,Towards Data Science,27,3,2023
2476,2477,https://writingcooperative.com/im-tired-of-inf...,I’m Tired of Inferior Writers Getting All the ...,NaN,NaN,0,6,The Writing Cooperative,27,3,2023
2479,2480,https://writingcooperative.com/inspiration-doe...,Inspiration Doesn’t Exist,Creativity is not a gift that some people…,NaN,0,3,The Writing Cooperative,27,3,2023

In [71]:
tds_missing_count = missing_claps_df[missing_claps_df['publication'] == "Towards Data Science"].shape[0]

total_missing_count = missing_claps_df.shape[0]

proportion = tds_missing_count / total_missing_count

print(proportion)

0.44

In [73]:
min_responses_missing_claps = missing_claps_df['responses'].min()

print(min_responses_missing_claps)

0

In [75]:
max_responses_missing_claps = missing_claps_df['responses'].max()

print(max_responses_missing_claps)

0

In [81]:
# Claps: Nan
missing_claps_df = df[df['claps'].isna()]

# Claps: exsist
non_missing_claps_df = df[df['claps'].notna()]

# compare their mean values
print("Missing Claps:", missing_claps_df['responses'].mean())
print("Non-Missing Claps:", non_missing_claps_df['responses'].mean())

Missing Claps: 0.0
Non-Missing Claps: 5.600080873433077

## 4. Article Responses [3 points]

In this question, we'd like to understand the responses that are earned by each article in the context of its given publication.

**a)** First, generate a data frame that provides the total number of responses recorded for all articles in our data based on the publication.  That is, you should have one number recorded for each publication.

In [48]:
pub_responses = df.groupby('publication')['responses'].sum()

pub_responses

publication
The Startup                7397
The Writing Cooperative    2821
Towards Data Science       2007
UX Collective              1624
Name: responses, dtype: int64

**b)** Then, merge the data frame from **part a** into the original data frame for the articles.

In [50]:
pub_responses = df.groupby('publication')['responses'].sum()
pub_responses.columns = ['publication', 'total_responses_by_pub']

df_merged = df.merge(pub_responses, on='publication')

df_merged

,id,url,title,subtitle,claps,responses_x,reading_time,publication,day,month,year,responses_y
0,1,https://towardsdatascience.com/not-all-rainbow...,Not All Rainbows and Sunshine: The Darker Side...,Part 1: The Risks and Ethical Issues…,453,11,9,Towards Data Science,27,1,2023,2007
1,2,https://towardsdatascience.com/ethics-in-ai-po...,Ethics in AI: Potential Root Causes for Biased...,An alternative approach to understanding bias ...,311,3,12,Towards Data Science,27,1,2023,2007
2,3,https://towardsdatascience.com/python-tuple-th...,"Python Tuple, The Whole Truth and Only the Tru...",NaN,188,0,24,Towards Data Science,27,1,2023,2007
3,4,https://towardsdatascience.com/dates-and-subqu...,Dates and Subqueries in SQL,Working with dates in SQL,15,1,4,Towards Data Science,27,1,2023,2007
4,5,https://towardsdatascience.com/temporal-differ...,Temporal Differences with Python: First Sample...,NaN,10,0,13,Towards Data Science,27,1,2023,2007
...,...,...,...,...,...,...,...,...,...,...,...,...
2493,2479,https://writingcooperative.com/its-a-mini-myst...,"It’s a Mini Mystery, This Odd Writing Device","<strong class=""markup--strong markup--h4-stron...",582,10,4,The Writing Cooperative,27,3,2023,2821
2494,2480,https://writingcooperative.com/inspiration-doe...,Inspiration Doesn’t Exist,Creativity is not a gift that some people…,NaN,0,3,The Writing Cooperative,27,3,2023,2821
2495,2496,https://writingcooperative.com/recognizing-the...,Recognizing These Three Realities Can Help Set...,NaN,410,10,4,The Writing Cooperative,29,1,2023,2821
2496,2497,https://writingcooperative.com/i-remember-it-l...,“I Remember It Like It Was Just Yesterday…” Re...,The Role of Emotional Memory in Our Writing,461,7,7,The Writing Cooperative,29,1,2023,2821
2497,2498,https://writingcooperative.com/how-to-formulat...,How to Formulate a Great Nonfiction Theme,There’s (almost) no such thing as too much tim...,158,2,5,The Writing Cooperative,29,1,2023,2821

**c)** Now, add a new variable to our articles data that records the proportion of responses in the given publication that are from the article.  That is, you are calculating the share of responses for that publication that are posted to a specific article.  

*Hint:* This can be calculated by dividing two variables that exist in the data from **part b**.

In [54]:
df_merged['shared_response'] = df_merged['responses_x'] / df_merged['responses_y']

df_merged

,id,url,title,subtitle,claps,responses_x,reading_time,publication,day,month,year,responses_y,shared_response
0,1,https://towardsdatascience.com/not-all-rainbow...,Not All Rainbows and Sunshine: The Darker Side...,Part 1: The Risks and Ethical Issues…,453,11,9,Towards Data Science,27,1,2023,2007,0.005481
1,2,https://towardsdatascience.com/ethics-in-ai-po...,Ethics in AI: Potential Root Causes for Biased...,An alternative approach to understanding bias ...,311,3,12,Towards Data Science,27,1,2023,2007,0.001495
2,3,https://towardsdatascience.com/python-tuple-th...,"Python Tuple, The Whole Truth and Only the Tru...",NaN,188,0,24,Towards Data Science,27,1,2023,2007,0.000000
3,4,https://towardsdatascience.com/dates-and-subqu...,Dates and Subqueries in SQL,Working with dates in SQL,15,1,4,Towards Data Science,27,1,2023,2007,0.000498
4,5,https://towardsdatascience.com/temporal-differ...,Temporal Differences with Python: First Sample...,NaN,10,0,13,Towards Data Science,27,1,2023,2007,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,2479,https://writingcooperative.com/its-a-mini-myst...,"It’s a Mini Mystery, This Odd Writing Device","<strong class=""markup--strong markup--h4-stron...",582,10,4,The Writing Cooperative,27,3,2023,2821,0.003545
2494,2480,https://writingcooperative.com/inspiration-doe...,Inspiration Doesn’t Exist,Creativity is not a gift that some people…,NaN,0,3,The Writing Cooperative,27,3,2023,2821,0.000000
2495,2496,https://writingcooperative.com/recognizing-the...,Recognizing These Three Realities Can Help Set...,NaN,410,10,4,The Writing Cooperative,29,1,2023,2821,0.003545
2496,2497,https://writingcooperative.com/i-remember-it-l...,“I Remember It Like It Was Just Yesterday…” Re...,The Role of Emotional Memory in Our Writing,461,7,7,The Writing Cooperative,29,1,2023,2821,0.002481
2497,2498,https://writingcooperative.com/how-to-formulat...,How to Formulate a Great Nonfiction Theme,There’s (almost) no such thing as too much tim...,158,2,5,The Writing Cooperative,29,1,2023,2821,0.000709

**d)** Finally, which article has the most responses relative to its publication?  What proportion of publication responses are due to that article?

In [56]:
most_relative_responses_article = df_merged.loc[df_merged['shared_response'].idxmax()]

article_title = most_relative_responses_article['title']
response_proportion = most_relative_responses_article['shared_response']

In [58]:
print(article_title)
print(response_proportion)

How ChatGPT Works: The Model Behind The Bot
0.06477329347284504

### Conclusion
The most relative response to publication is "How ChatGPT Wokrs: The Model Behind The Bot". <br>
And proportion of publication response is "0.065" (Until 3rd demical places)

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all (Kernel -> Restart & Run All). **Make sure nothing has changed**. Checkpoint and exit (File -> Save and Checkpoint + File -> Close and Halt). Follow the instructions on the Homework 2 Canvas Assignment to submit your notebook to GitHub.  Be sure to also complete the Gradescope component of this assignment.