# STAT 207 Group Lab Assignment 9 - [10 total points]

## Linear Regression

<hr>

## <u>Lab Grading</u>:

Should we grade your submission?  If not, write the netID of the submission to be graded.  (Note: We will only grade one assignment per group, and we'll pick the first one that says we should grade that submission.  We will assign the same grade to all team members.)

*For example*, you might respond: **grade this submission** or **my submission is under netID jdeeke**

**grade this submission**

If you said **my submission is under netID** above, we will not read any more of your lab submission.

If you said **grade this submission** above, who worked with you on this submission?  Write both their **names** and **netIDs**.  

Also, discuss and record what your *dream car* would be.

Soobin Jang (soobinj2) : Porsche Cayenne

Joonwoo Ha (ha47) : Porsche 911 (1970)

<hr>

## <u>Purpose</u>:
You should work in groups of 2-3 on this report (not working in groups without permission will result in a point deduction). The purpose of this group lab assignment is to fit an interpret a multiple linear regression model.
<hr>

## <u>Assignment Instructions</u>:

### Group Roles

Suggested and specified roles are provided below: 

#### Groups of 2

* **Driver**: This student will type the report.  While typing the report, you may be the one who is selecting the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  Specific ways to help may include: outlining the general steps needed to solve a question (providing the overview), locating examples within the course notes, and reviewing each line of code as it is typed.

#### Groups of 3

* **Driver**: This student will type the report.  They may also be the one to select the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  They may select the general approach to answering the question and/or a few steps to be completed along the way. 
* **Communicator**: This student will review the report (as it is typed) to ensure that it is clear and concise.  This student may also locate relevant examples within the course notes that may help complete the assignment.

<hr>

### Imports

In [1]:
#Run this
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()

## Car Sales Data

The car sales dataset contains the following variables for used cars listed for sale from cardekho.com (an online car sales platform based in India):

- **name**: the type of car for sale
- **year**: the year in which the car was bought
- **selling_price**: the listed selling price of the car (in rupees; currently 1 rupee = 0.012 USD)
- **km_driven**: the total mileage of the car, in kilometers
- **fuel**: the type of fuel needed for the car
- **seller_type**: reports if the car is sold by an individual or a dealer
- **transmission**: gear transmission of the car (Automatic/Manual)
- **owner**: number of previous owners of the car
- **mileage_kmpl**: the fuel efficiency mileage, in kilometers per Liter
- **engine_CC**: the engine capacity of the car, in cubic centimeters
- **max_power_bhp**: the maximum power of the engine, in brake horse power
- **seats**: the number of seats in the car.

Use the car sales dataset in this folder (car_sales.csv) to perform the following analyses.

### 1. [1.5 point] Reading in and Cleaning the Data

**a)** First, read in the data.  Note that missing values are recorded as blanks and should be called in Python as "".  Then drop the rows that have NAs in them.

In [17]:
df = pd.read_csv("car_sales.csv")
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_kmpl,engine_CC,max_power_bhp,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0

In [19]:
df.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage_kmpl     221
engine_CC        221
max_power_bhp    216
seats            221
dtype: int64

In [21]:
import numpy as np

df.replace("", np.nan, inplace=True)

df.dropna(inplace=True)

df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage_kmpl,engine_CC,max_power_bhp,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.00,5.0

In [23]:
df.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage_kmpl     0
engine_CC        0
max_power_bhp    0
seats            0
dtype: int64

In [36]:
df['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [38]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

**b)** We'll aim to predict the selling price of a used car.  Pick two categorical and two quantitative variables to use as potential predictors.  Record these variables below.

seller_type, owner, year, km_driven

### 2. [4 points] Fitting a Model

**a)** Now, fit a linear model predicting price from your four predictors of interest.

In [30]:
import statsmodels.formula.api as smf

results = smf.ols("selling_price ~ seller_type + owner + year + km_driven", data=df).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          selling_price   R-squared:                       0.281
Model:                            OLS   Adj. R-squared:                  0.281
Method:                 Least Squares   F-statistic:                     386.6
Date:                Wed, 26 Mar 2025   Prob (F-statistic):               0.00
Time:                        15:50:43   Log-Likelihood:            -1.1751e+05
No. Observations:                7906   AIC:                         2.350e+05
Df Residuals:                    7897   BIC:                         2.351e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                       -1.394e+08   5.06e+06    -27.562      0.000   -1.49e+08   -1.29e+08
seller_type[T.Individual]       -7.581e+05   2.33e+04    -32.485      0.000   -8.04e+05   -7.12e+05
seller_type[T.Trustmark Dealer] -6.556e+05   4.95e+04    -13.242      0.000   -7.53e+05   -5.59e+05
owner[T.Fourth & Above Owner]    8.756e+04   5.78e+04      1.516      0.130   -2.57e+04    2.01e+05
owner[T.Second Owner]           -2.444e+04   2.01e+04     -1.217      0.223   -6.38e+04    1.49e+04
owner[T.Test Drive Car]           2.74e+06   3.09e+05      8.856      0.000    2.13e+06    3.35e+06
owner[T.Third Owner]             3.348e+04   3.46e+04      0.968      0.333   -3.43e+04    1.01e+05
year                             6.987e+04   2507.393     27.866      0.000     6.5e+04    7.48e+04
km_driven                          -0.2642      0.153     -1.728      0.084      -0.564       0.036
==============================================================================
Omnibus:                     5965.732   Durbin-Watson:                   1.389
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           132334.725
Skew:                           3.461   Prob(JB):                         0.00
Kurtosis:                      21.810   Cond. No.                     5.83e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.83e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

**b)** What is the baseline level for your model?

The baseline level for the model is **Dealer(seller_type)** and **First Owner(owner)**.

**c)** Write the fitted model, using appropriate notation (or clearly express the appropriate notation with words), based on your model from **part a**.

$$
\begin{aligned}
\text{selling\_price} = \ & -1.394e{+08} \\
& - 7.581e{+05} \cdot \text{Individual} \\ 
& - 6.556e{+05} \cdot \text{TrustmarkDealer} \\ 
& + 8.756e{+04} \cdot \text{FourthAndAboveOwner} \\
& - 2.444e{+04} \cdot \text{SecondOwner} \\
& + 2.740e{+06} \cdot \text{TestDriveCar} \\ 
& + 3.348e{+04} \cdot \text{ThirdOwner} \\ 
& + 6.987e{+04} \cdot \text{year} \\
& - 0.2642 \cdot \text{km\_driven} \\
\end{aligned}
$$

### 3. [4.5 points] Interpreting Your Model

Now that we've fitted a model, let's focus on what that model tells us about our variables.

**a)** For what levels of our categorical variables would we anticipate that we would have the highest selling price?  For each of our quantitative predictors, would we prefer larger or smaller values to increase the anticipated selling price?

We would expect the highest predicted selling price for cars that are sold by a Dealer (baseline with no negative adjustment), and are Test Drive Cars in the owner variable. For the quantitative predictors, we prefer larger values of year (newer cars) and smaller values of km_driven (lower mileage) to increase the predicted price.

**b)** Pick a car in the dataset (be sure to specify the car).  Predict the price for this car.

In [54]:
car = df.iloc[0]
print(car)

name             Maruti Swift Dzire VDI
year                               2014
selling_price                    450000
km_driven                        145500
fuel                             Diesel
seller_type                  Individual
transmission                     Manual
owner                       First Owner
mileage_kmpl                       23.4
engine_CC                        1248.0
max_power_bhp                      74.0
seats                               5.0
Name: 0, dtype: object

In [58]:
y_hat = -1.394e8 - 7.581e5 + 6.987e4 * 2014 - 0.2642 * 145500

print(y_hat)

521638.9

**c)** What is the error in the predicting selling price of the car from part **b**?

In [64]:
error = 450000 - 521638.9

print(error)

-71638.90000000002

**d)** From part **b**, you calculated a predicted price.  Fill in the blanks: the predicted price is the _______ _______ price for cars with the characteristics of this car.  

*Hint:* you might look at the coefficient interpretations for hints about what it is exactly that we are predicting.  This also helps to address why you (likely) found that your prediction was not exactly correct in part **c**.

The predicted price is the average expected price for cars with the characteristics of this car.