# STAT 207 Group Lab Assignment 3 - [10 total points]

## Manipulating and Combining Data to Answer Questions

<hr>

## <u>Lab Grading</u>:

Should we grade your submission?  If not, write the netID of the submission to be graded.  (Note: We will only grade one assignment per group, and we'll pick the first one that says we should grade that submission.  We will assign the same grade to all team members.)

*For example*, you might respond: **grade this submission** or **my submission is under netID jdeeke**

**my submission is under netID ha47**

If you said **my submission is under netID** above, we will not read any more of your lab submission.

If you said **grade this submission** above, who worked with you on this submission?  Write both their **names** and **netIDs**.  Also, record how long each of you thinks that you could play a favorite game in one sitting.

## <u>Purpose</u>:
You should work in groups of 2-3 on this report (not working in groups without permission will result in a point deduction). The purpose of this group lab assignment is to adjust data to be able to answer questions and provide insights from the data.
<hr>

## <u>Assignment Instructions</u>:

### Group Roles

Suggested and specified roles are provided below: 

#### Groups of 2

* **Driver**: This student will type the report.  While typing the report, you may be the one who is selecting the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  Specific ways to help may include: outlining the general steps needed to solve a question (providing the overview), locating examples within the course notes, and reviewing each line of code as it is typed.

#### Groups of 3

* **Driver**: This student will type the report.  They may also be the one to select the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  They may select the general approach to answering the question and/or a few steps to be completed along the way. 
* **Communicator**: This student will review the report (as it is typed) to ensure that it is clear and concise.  This student may also locate relevant examples within the course notes that may help complete the assignment.

<hr>

### Imports

In [3]:
#Run this
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()

## Steam Data

Steam is the world's most popular PC Gaming hub. They have a massive catalog of games, with everything from AAA blockbusters to small indie titles.  You are a team of data scientists working for Steam, and you are responsible for completing analysis for a report that will go to the executives of Valve (the parent company for Steam). 

Unfortunately, the data were collected with a less than optimal structure.  The dataset is comprised of transactions within the Steam platform for a random sample of 500 steam users along with their purchase and game play behaviors.  It has the following columns:
* user_id,
* game_name,
* activity:
    - purchase: indicating that the user has *purchased* the corresponding game
    - play: indicating that the user has *played* the corresponding game (for at least some amount of time.) 
* hours_played_if_play:
    - if the row corresponds to a 'play' activity, this number represents the number of hours the user has played the game
    - if the row corresponds to a 'purchase' activity, this number is always a 1 (and means nothing... it's a placeholder).

Note that for each user-game combo, there will either be one row (if the game has only been purchased but not played) or two rows (if the game has been both purchased and played).

**The executives have tasked you with identifying the games that are played the most to help them with an upcoming advertising campaign.**

### 1. [0.5 point] Reading in the Data

Read in the steam_sample.csv file into a dataframe, being sure to read in missing data correctly.  Drop the observations with missing values.  *Hint:* you can return to Lab 2 Questions 1 & 2, where you performed these steps.

Also, separate the data into a purchase and a play data frame, for the purchase rows and the play rows, respectively (Question 4 of Lab 2).

In [5]:
df = pd.read_csv("steam_sample.csv")

In [17]:
df['hours_played_if_play'] = df['hours_played_if_play'].replace(["unknown", "", " "], pd.NA)

df_cleaned = df.dropna(subset=['hours_played_if_play'])

In [143]:
df_cleaned["hours_played_if_play"]= df_cleaned["hours_played_if_play"].astype(float)

/var/folders/sk/z_0pn_9x6l10hpn8467x_wzc0000gn/T/ipykernel_31784/4276325877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["hours_played_if_play"]= df_cleaned["hours_played_if_play"].astype(float)

In [37]:
df_cleaned.dtypes

user_id                   int64
game_name                object
activity                 object
hours_played_if_play    float64
dtype: object

In [45]:
# purchase dataframe
df_purchase = df_cleaned[df_cleaned['activity'] == 'purchase']
df_purchase

,user_id,game_name,activity,hours_played_if_play
0,308653033,Unturned,purchase,1.0
2,308653033,theHunter,purchase,1.0
3,144004384,Dota 2,purchase,1.0
5,54103616,Counter-Strike Global Offensive,purchase,1.0
7,54103616,Counter-Strike,purchase,1.0
...,...,...,...,...
7800,99096740,SimCity 4 Deluxe,purchase,1.0
7802,99096740,BioShock Infinite Burial at Sea - Episode 2,purchase,1.0
7803,99096740,The Elder Scrolls V Skyrim - Dawnguard,purchase,1.0
7804,99096740,The Elder Scrolls V Skyrim - Dragonborn,purchase,1.0
7805,99096740,The Elder Scrolls V Skyrim - Hearthfire,purchase,1.0

In [47]:
# play dataframe
df_play = df_cleaned[df_cleaned['activity'] == 'play']
df_play

,user_id,game_name,activity,hours_played_if_play
1,308653033,Unturned,play,0.6
4,144004384,Dota 2,play,22.0
6,54103616,Counter-Strike Global Offensive,play,1028.0
8,54103616,Counter-Strike,play,1008.0
10,54103616,Left 4 Dead,play,148.0
...,...,...,...,...
7793,99096740,Crysis,play,5.3
7795,99096740,Assassin's Creed II,play,2.7
7797,99096740,Hitman Blood Money,play,1.3
7799,99096740,The Binding of Isaac Rebirth,play,0.7
7801,99096740,SimCity 4 Deluxe,play,0.2

### 2. [3 points] Games as the Unit of Observation

In Lab 2, we calculated the proportion of purchased games that were played.  In Questions 2 and 3, we're going to explore this proportion for each game separately, to determine if we can identify games that are must-play games.

In Question 2, we will adjust the unit of observation in our data to the game and then calculate measures for each unit of observation.  In Question 3, we will then combine different measures for each of those games to answer our question of interest.

**a)** First, create a data frame with two variables: the game and the number of users that purchased each game.  Make sure that you clean your data frame so that it is easy to use.

In [53]:
df_game_purchase = df_purchase.groupby('game_name')['user_id'].nunique().reset_index()
df_game_purchase.rename(columns={'user_id': 'num_users_purchased'}, inplace=True)
df_game_purchase

                                              game_name  num_users_purchased
0     1... 2... 3... KICK IT! (Drop That Beat Like a...                    1
1                 18 Wheels of Steel American Long Haul                    1
2                                         1954 Alcatraz                    1
3                                                3DMark                    1
4                                           60 Seconds!                    1
...                                                 ...                  ...
1440                                                 oO                    1
1441                      resident evil 4 / biohazard 4                    1
1442                                       sZone-Online                    5
1443                          the static speaks my name                    1
1444                                          theHunter                    9

[1445 rows x 2 columns]

**b)** From the data frame in **part a**, determine the number of distinct games that were purchased by the 500 random users.  Each game should be counted only once, regardless of how many users have purchased the game.  You will use this number later to check that all games are in your final data.

In [55]:
num_distinct_games = df_game_purchase.groupby('game_name').size().shape[0]
print("Number of distinct games purchased:", num_distinct_games)

Number of distinct games purchased: 1445

**c)** Then, create a data frame that calculates the number of users that played each game.  Again, make sure that you clean your data frame.

In [59]:
df_game_play = df_play.groupby('game_name')['user_id'].nunique().reset_index()

df_game_play.rename(columns={'user_id': 'num_users_played'}, inplace=True)

df_game_play

                                             game_name  num_users_played
0    1... 2... 3... KICK IT! (Drop That Beat Like a...                 1
1                18 Wheels of Steel American Long Haul                 1
2                                               3DMark                 1
3                                          60 Seconds!                 1
4                                        7 Days to Die                 5
..                                                 ...               ...
915                            Zombies Monsters Robots                 1
916                                              hocus                 1
917                                                 oO                 1
918                                       sZone-Online                 4
919                                          theHunter                 6

[920 rows x 2 columns]

**d)** From the data frame in **part c**, determine the number of distinct games that were played by the 500 random users.  Again, each game should be counted only once, regardless of how many users have purchased the game.  

Does this number match the games calculated in **part b**?  Do these numbers seem plausible?

In [68]:
num_games_purchased = len(set(df_game_purchase['game_name']))
num_games_purchased

1445

Yes, this number match the games calculated in part b, so I can say these numbers seem plausible

### 3. [3.5 points] What is the Purchase to Play Conversion for Steam Games?

Now that we have our two variables of interest calculated, we can combine the measures and answer how many games are must-play games.

**a)** Merge your data frames from **parts a and c**, being sure that you retain any observation that appears in at least one of the two data frames.  *Hint*: Look up the pandas merge function, looking at the `how` parameter (input) in particular.  Try a few options for the `how` parameter.  Check the dimensions of the resulting data frame to see if you achieve the desired results.

In [79]:
df_merged = pd.merge(df_game_purchase, df_game_play, on="game_name", how="inner")

df_merged

,game_name,num_users_purchased,num_users_played
0,1... 2... 3... KICK IT! (Drop That Beat Like a...,1,1
1,18 Wheels of Steel American Long Haul,1,1
2,3DMark,1,1
3,60 Seconds!,1,1
4,7 Days to Die,5,5
...,...,...,...
915,Zombies Monsters Robots,1,1
916,hocus,1,1
917,oO,1,1
918,sZone-Online,5,4
919,theHunter,9,6

**b)** Calculate a new variable in the data for the number of users who have played that game divided by the number of users who have purchased the game (once for each distinct game).

In [81]:
df_merged['shared_numbers'] = df_merged['num_users_played'] / df_merged['num_users_purchased']

df_merged

,game_name,num_users_purchased,num_users_played,shared_numbers
0,1... 2... 3... KICK IT! (Drop That Beat Like a...,1,1,1.000000
1,18 Wheels of Steel American Long Haul,1,1,1.000000
2,3DMark,1,1,1.000000
3,60 Seconds!,1,1,1.000000
4,7 Days to Die,5,5,1.000000
...,...,...,...,...
915,Zombies Monsters Robots,1,1,1.000000
916,hocus,1,1,1.000000
917,oO,1,1,1.000000
918,sZone-Online,5,4,0.800000
919,theHunter,9,6,0.666667

**c)** What proportion of games in the data have a purchase to play conversion rate of 1 (that is every user who purchases the game also plays the game), or are must-play games?

In [116]:
must_play_games = (df_merged['shared_numbers'] == 1.0).sum()


proportion = (must_play_games/920)
proportion

0.5652173913043478

Proportion would be **0.56**

### 4. [3 points] How Much Are Games Played?

In Questions 2 and 3, we used the purchase to play conversion to define must-play games.  Now, we will consider a different approach at defining which games are played the most: how long each game is played.  In other words, we might be looking to represent how captivating a game is after it is opened by recording how long a user plays the game.

**a)** Create a variable for the median time spent playing a game, using a game as the unit of observation.  Prepare and clean it appropriately.

In [121]:
df_play_time = df_cleaned[df_cleaned['activity'] == 'play']

df_median_playtime = df_play_time.groupby('game_name')['hours_played_if_play'].median().reset_index()

df_median_playtime.rename(columns={'hours_played_if_play': 'median_play_time'}, inplace=True)

df_median_playtime

                                             game_name  median_play_time
0    1... 2... 3... KICK IT! (Drop That Beat Like a...               0.2
1                18 Wheels of Steel American Long Haul               5.8
2                                               3DMark               1.3
3                                          60 Seconds!               1.6
4                                        7 Days to Die              27.0
..                                                 ...               ...
915                            Zombies Monsters Robots              19.0
916                                              hocus               0.1
917                                                 oO               0.2
918                                       sZone-Online               0.8
919                                          theHunter               0.9

[920 rows x 2 columns]

**b)** Summarize the values for this variable, either with a visualization or numerical summaries.  There are multiple appropriate approaches that you could use.

In [147]:
# Summary to show as statistics data
summary_stats = df_median_playtime['median_play_time'].describe()
print(summary_stats)

count     920.000000
mean       20.132663
std        83.707083
min         0.100000
25%         0.900000
50%         3.700000
75%        11.812500
max      1295.000000
Name: median_play_time, dtype: float64

**c)** If the executives are looking for a threshold for especially captivating games (games where users typically play the game for an especially long period of time), what cutoff would you suggest?  You may be able to answer this question from part **b**, and you can also perform any additional analyses that you'd like.

In [145]:
top_10 = df_median_playtime['median_play_time'].quantile(0.90)

print(f"Suggested data (Top 10% of games): {top_10:.2f} hours")

Suggested data (Top 10% of games): 31.00 hours

Through this data analysis, I can see the top 10% playtime of the game would be **31 hours**. So, I would say collect the game data which has median playtime playtime is near as 31 hours, and analyze the game's characteristics. This would be helpful to the executives who looking for a threshold for captivating games.