# STAT 207 Group Lab Assignment 1 - [10 total points]

## Exploring your own dataset!

<hr>

## <u>Lab Grading</u>:

This lab grading prompt will be provided at the beginning of each lab assignment this semester.

Should we grade your submission?  If not, write the netID of the submission to be graded.  (Note: We will only grade one assignment per group, and we'll pick the first one that says we should grade that submission.)

*For example*, you might respond: **grade this submission** or **my submission is under netID jdeeke**

### 1. [1 point] Group Members

If you said **my submission is under netID** above, we will not read any more of your lab submission.

If you said **grade this submission** above, who worked with you on this submission?  Write both their **names** and **netIDs**.  

Also, discuss and record something fun that you did over our most recent break.

*For example:*

<i>1. John Smith (smith92) slept</i>

<i>2. Jane Doe (doe105) ate something cool</i>

<i>Stacy Yang(stacyy2)<i>
    
<i>Soobin Jang(soobinj2)<i>

## <u>Purpose</u>:
You should work in groups of 2-3 on this report. The purpose of this group lab assignment is to download your own dataset that you find interesting and perform some preliminary descriptive analytics on this dataset. Also, you can take this opportunity to get to know some of your classmates! 
<hr>

## <u>Assignment Instructions</u>:

### Group Roles

You are expected to work in groups of 2-3 on this report.  Since you are working in groups, you may find it helpful to have specified roles.  These roles will likely be helpful in later labs.  Below, I provide roles that can be used for groups of 2 and for groups of 3.  I encourage you to switch roles within this lab report, as possible.  I also encourage you to switch roles for each subsequent lab, as possible, based on your group membership.  

#### Groups of 2

* **Driver**: This student will type the report.  While typing the report, you may be the one who is selecting the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  Specific ways to help may include: outlining the general steps needed to solve a question (providing the overview), locating examples within the course notes, and reviewing each line of code as it is typed.

#### Groups of 3

* **Driver**: This student will type the report.  They may also be the one to select the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  They may select the general approach to answering the question and/or a few steps to be completed along the way. 
* **Communicator**: This student will review the report (as it is typed) to ensure that it is clear and concise.  This student may also locate relevant examples within the course notes that may help complete the assignment.

<hr>

### Imports

In [2]:
#Run this
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()

<hr>

## Initial Dataset Analysis

### 1. [3 points] Load an Interesting Dataset

1. Go to https://www.kaggle.com/datasets?fileType=csv&sizeStart=0%2CKB&sizeEnd=100%2CKB&minUsabilityRating=10.00. Browse through the available datasets and find one that you think is interesting *that has at least one categorical variable* and *at least one quantitative variable*.
2. Once you have selected a dataset you'd like to explore, select "Download" to download the csv file.
3. On your desktop, move this csv into the same folder that this Jupyter notebook is located in.
4. Finally, read this csv file into a pandas dataframe and display the first five rows.

In [6]:
pd.read_csv('marriage_divorce_india_with_id.csv').head()

,Unique ID,Marriage Duration (Years),Age at Marriage,Marriage Type,Education Level,Income Level (INR per month),Caste/Religion,Urban/Rural,Family Involvement,Children,Divorce Status
0,MD1,39,29,Love,Secondary,113464,Hindu,Rural,Moderate,2,No
1,MD2,29,34,Arranged,No Education,18682,Jain,Rural,Moderate,0,Yes
2,MD3,15,34,Love,No Education,159455,Muslim,Urban,Moderate,4,Yes
3,MD4,8,27,Arranged,Postgraduate,63160,Jain,Urban,High,1,Yes
4,MD5,21,34,Love,Secondary,28666,Jain,Urban,High,1,Yes

### 2. [3 points] Dataset Description

**a)** Give the link for the dataset that you downloaded.

https://www.kaggle.com/datasets/ashaychoudhary/indian-marriage-and-divorce-dataset?resource=download

**b)** How many rows and how many columns are in the dataset?

11 columns, 1201 rows

**c)** What is the unit of observation for this dataset?  In other words, each row contains variables recorded for an observation.  How would you define a general observation?

years, age, type, level, INR per month, Caste/Religion, Urban/Rural, Family Involvement, Number of Children, Divorce Status

### 3. [3 points] Descriptive Summaries

**a)** Define a question.

Considering the available data, ask a question that can be addressed with the data.

- What is the average marriage age?

**b)** Answer your question.

Now, generate a descriptive summary that addresses at least some part of your question from 3a.  You don't need to completely answer or address your question if you pose a complicated question, but your analysis should relate to the original question.

pd.read_csv('marriage_divorce_india_with_id.csv')Your descriptive summary should include at least one of a numerical summary measure or a visualization (graph).

In [3]:
a = pd.read_csv('marriage_divorce_india_with_id.csv')

df = pd.DataFrame(a)

#print(df)

df.rename(columns = {"Age at Marriage":"Marriage_age"}, inplace = True)

avg = df['Marriage_age'].mean()

print(avg)

26.055